/* completed by Katie */
/* CSS for article cards */

.card_article {
    background: rgb(161, 106, 106);
    border-style: solid;
    border-radius: 6%;
    margin-top: 1%;
    border-color: grey;
    border-width: .5em;
  }
  
  .header {
    text-align: center;
  }
  .card_content {
    padding: 1em; 
  }

  .card_article_content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: rgb(190, 142, 190);
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
  }
 
  .card button {
    background-color: rgb(185, 138, 51);
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    
  }

  div.delete-article {
   width: 450px;
   margin-bottom: 2%;
   margin-top: 2%;
  }

  div.content {
    padding-left: 3%;
  }

  p.title {
    font-weight: bold;
    font-size: .8cm;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin-top: .5em;
  }

  .edit_button {
    margin-bottom: 2%;
  }

.url_button {
  color: white;
}

  div.articles__card {
    display:  flex;
    flex-flow: row wrap;
    justify-content: space-around;

  }
  
  .card button:hover {
    background-color: rgb(161, 106, 106);
  }
​
  .card_article {
    display:  flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 3%;
  }

  button.btn {
    background-color: rgb(185, 138, 51);
    border: none;
    color: cornsilk;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 3%;
    padding-left:5%;
    padding-right:5%;
  }

  button {
    background-color:rgb(185, 138, 51);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    border-style: solid;
    border-width: medium;
  }

  section.section-content {
/* background-color: lightgrey; */
  }


