
  .event {
    background: rgb(161, 106, 106);
    border-style: solid;
    margin-top: 1%;
    border-width: .5em;
    border-color: grey;
    margin-right: 70%;
  }

  .edit-button-event {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
     border-style: solid;
     border-color: white;
     margin-right: 1em;
     font-weight: bold;
  }

  .delete-button-event {
   margin-bottom: 1em;
   margin-top: 1em;
   margin-left: 1em;
    border-style: solid;
    border-color: white;
    margin-right: 1em;
    font-weight: bold;
  }

  .details-button-event {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
     border-style: solid;
     border-color: white;
     margin-right: 1em;
     font-weight: bold;
  }

  .event__name {
    font-weight: bold;
    font-size: .8cm;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin-top: .5em;
    padding-bottom: .3em;
    
  }
 
  .event__location {
    margin-left: 1em;
  }

  .event__date {
    margin-left: 1em;
  }

  .btn-weather {
    /* margin-left: 35%; */
  }

  .first_event {
    background-color: darkgrey;
    border-style: solid;
    margin-top: 1%;
    border-width: .5em;
    border-color: grey;
    margin-right: 70%;
    margin-bottom: 1.5cm;
  }

  .first_event__name {
    font-weight: bold;
    font-size: 1.2cm;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin-top: .5em;
    padding-bottom: .3em;
  }

  .first_event__location {
    margin-left: 1em;
    font-size: .6cm;
    font-weight: bold;
  }

  .first_event__date {
    margin-left: 1em;
    font-size: .6cm;
    font-weight: bold;
  }
 
  .btn-delete {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
     border-style: solid;
     border-color: white;
     margin-right: 1em;
     font-weight: bold;
  }

  .btn-details {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
     border-style: solid;
     border-color: white;
     margin-right: 1em;
     font-weight: bold;
  }

  .btn-edit {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
     border-style: solid;
     border-color: white;
     margin-right: 1em;
     font-weight: bold; 
  }