  
  div.card {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      margin-right: 70%;
      background-color: rgb(161, 106, 106);
      border-style: solid;
      border-color: white;
      border-width: .25em;
  }
  
  .friend_name {
      color: black;
      font-weight: bold;
  }
