.friendForm {
padding-left: 3%;
margin-top: 2cm;
background-color: rgb(185, 138, 51);
margin-right: 55%;
border-style: solid;
border-color: darkgrey;
border-width: .5em;
}

.friendForm__title {
color:black;
font-size: 1.5em;
}